<html>
  <head>
    <%- include('../shared/head.ejs') %>
    <script src="./js/propositos/index.js"></script>
  </head>
  <body>
    <div class="d-flex ">
    <%- include('../shared/nav.ejs') %>

    <div class="container mt-5">
      <form action="/propositos" method="post">
        <%if (edit) { %>
          <input type="hidden" name="edit" value="true">
          <input type="hidden" name="id" value="<%= proposito.id %> ">
        <% } %>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="<%= edit ? proposito.nome : "Digite seu nome"  %> ">
        </div>
        <div class="mb-3">
          <label for="descricao" class="form-label">Descrição</label>
          <textarea class="form-control" id="descricao" name="descricao" rows="3" placeholder="<%= edit ? proposito.descricao : "Digite seu descrição"  %>"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><%= edit ? "Editar": "Cadastrar" %></button>
      </form>
    </div>
  </div>
  </body>
</html>